{% extends 'base.html' %}

{% block title %}
  {{ user.username }} dialogues
{% endblock %}

{% block content %}
  <h1>
    My dialogues
  </h1>

  {% for dialogue in dialogues %}
    <a href="{% url 'social_network:dialogue' dialogue_pk=dialogue.pk %}">
      Dialogue with
      {% for member in dialogue.members.all %}
        {% if member.id != user.id %}
          <strong>{{ member }}</strong>
        {% endif %}
      {% endfor %}
    </a><br>
  {% endfor %}

{% endblock %}