{% extends 'base.html' %}

{% block title %}
  Dialogue
{% endblock %}

{% block content %}

  {% for message in all_messages %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-auto"><strong>{{message.user.username }}</strong></div>
        <div class="col-5">{{ message.text }}</div>
        <div class="col" align="right"><i>{{ message.time }}</i></div>
      </div>
      <hr>
    </div>

  {% empty %}
    <strong>No messages yet.</strong>
  {% endfor %}

  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send">
    </form>
  </div>

{% endblock %}