{% extends 'base.html' %}

{% block title %}
  Feed
{% endblock %}

{% block content %}
  {% load static %}
  <h1>Friend's posts:</h1><hr>

  {% for post in object_list %}

    <hr style="color: blue">

    <div id="post_{{post.pk}}">
      <h3>
        "{{ post.title }}"
        by <a href="{% url 'social_network:profile' pk=post.user.pk %}">{{ post.user }}</a>
      </h3>
      <p>{{ post.body }}</p>
    </div>

    {% if post.img %}
        <div><img src="{% get_media_prefix %}{{ post.img }}"></div><br>
    {% endif %}

    <div class="row">
      <div class="col" align="left">
        {% if request.user in post.likes.all %}
          <form action="{% url 'social_network:like' post_pk=post.pk %}" method="post">
            {% csrf_token %}
            <input
                type="submit"
                class="btn btn-danger btn-sm"
                value="{{ post.likes.all|length }} Likes"
            >
          </form>
        {% else %}
          <form action="{% url 'social_network:like' post_pk=post.pk %}" method="post">
            {% csrf_token %}
            <input
                type="submit"
                class="btn btn-light btn-sm"
                value="{{ post.likes.all|length }} Likes"
            >
          </form>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <strong>No news yet.</strong>
  {% endfor %}

{% endblock %}