{% extends 'base.html' %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  {% load static %}
  <h1>
    User {{ user.username }}
  </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <img src="{% get_media_prefix %}{% firstof user.userprofile.avatar 'images/avatars/U999_2_881x513.jpeg' %}"
      hspace="5">
    </div>
    <div class="col" align="left">
      birthday: {{ user.userprofile.birthday }}<br>
      city: {{ user.userprofile.city }}<br>
      occupation: {{ user.userprofile.occupation }}<br>
      <i style="color: gray">last visit: {{ user.last_login }}</i>
    </div>
  </div>
</div>


{% endblock %}