{% extends 'base.html' %}

{% block title %}
  {{ user.username }}
{% endblock %}

{% block content %}
  {% load static %}
  <h1 align="center">
    {{ user.username }}
  </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-auto" align="left">
        <div>
          <img src="{% get_media_prefix %}{% firstof user.userprofile.avatar 'images/avatars/U999_2_881x513.jpeg' %}"
        hspace="5">
        </div><br>
        {% if dialogue %}
        <div>
          <a class="btn btn-light" href="{% url 'social_network:dialogue' dialogue_pk=dialogue.pk %}">Message</a>
        </div>
        {% endif %}
      </div>
      <div class="col" align="left">
        birthday: {{ user.userprofile.birthday }}<br>
        city: {{ user.userprofile.city }}<br>
        occupation: {{ user.userprofile.occupation }}<br>
        <i style="color: gray">last visit: {{ user.last_login }}</i>
      </div>
    </div>
  </div>
  <hr>

  <div class="container-fluid">
    <h2>Posts:</h2>
    <hr style="color: white">
    {% for post in user.posts.all %}
      <div>
        <h3>Title: "{{ post.title }}"</h3>
        <p>{{ post.body }}</p>
      </div>
      <div><img src="{% get_media_prefix %}{{ post.img }}"></div><br>
      {% if request.user.pk == post.user.pk %}
      <div><a class="btn btn-danger" href="{% url 'social_network:post_delete' pk=post.pk %}">Delete post</a></div>
      {% endif %}
      <hr>
    {% endfor %}
  </div>


{% endblock %}