<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link
      href="{% static 'social_network/css/bootstrap.min.css' %}"
      type="text/css"
      rel="stylesheet"
  />

  <title>
    {% block title %}
    Base Title
    {% endblock %}
  </title>

  <style>
      html {
        background: #2676d1;
      }
      body {
        background: #acc7e6;
      }
      h1 {
        font-size: 2em;
      }
      button {
        margin: 4px;
      }

      nav {
        height: 100%;
        width: 25%;
        position: fixed;
      }

      .nav-item {
        color: white;
        margin-left: 10px;
      }
  </style>
</head>

<body>

<div class="row">
  <div class="col-3">
    <nav class="nav flex-column bg-dark">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="navbar-brand" href="#"><h1>Social</h1></a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:profile' pk=request.user.pk %}">Profile</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:friend_list' pk=request.user.pk %}">Friends</a></li>
        <li class="nav-item">
          <a class="nav-link"
             href="{% url 'social_network:friend_requests' pk=user.pk %}">Friend requests</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:dialogues_list' pk=request.user.pk %}">Dialogues</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:feed' pk=request.user.pk %}">Feed</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:users' %}">Users</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:create_post' %}">Add post</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social_network:profile_settings' pk=request.user.pk %}">Settings</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="col-9">
    <div class="container my-3">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    Base Body
    {% endblock %}
    </div>
  </div>


  <br>
  <script src="{% static 'social_network/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>